<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">
		
		<bean id="userDAO" class="com.gem.qqzone.dao.impl.UserDAOImpl"/>
		<bean id="topicDAO" class="com.gem.qqzone.dao.impl.TopicDAOImpl"/>
		<bean id="replyDAO" class="com.gem.qqzone.dao.impl.ReplyDAOImpl"/>
		
		<bean id="userBiz" class="com.gem.qqzone.biz.impl.UserBizImpl">
			<property name="userDAO" ref="userDAO"/>
		</bean>
		
	 	<bean id="topicBiz" class="com.gem.qqzone.biz.impl.TopicBizImpl">
			<property name="topicDAO" ref="topicDAO"/>
			<property name="replyDAO" ref="replyDAO"/>
		</bean> 

</beans>